* {
	box-sizing: border-box;
}

body {
	font-size: 26px;
	background-color: #333;
	color: white;
}

.top {
	height: 80px;
	border: 2px solid white;
	background-color: grey;
	width: 140%;
}

.topbar {
	background-color: ;
	border: 2px solid red;
	height: 80px;
}

.name_box {
	background-color: indigo
	font-size: 36px;
}

.name {
	text-align: center;
	background-color: indigo;
	float:left;
	width: 33%;
}

.navigation {
	position: absolute;
	width: 66%;
	right: 0px;
	text-align: center;
	
}

.nav_item_1 {
	position: absolute;
	left: 20%;
	float: left;
	text-align: center;
	margin-top: ;
	padding: 20px;
}

.nav_item_2 {
	position: absolute;
	left: 40%;
	float: left;
	text-align: center;
	margin-top: ;
	padding: 20px;
}

.nav_item_3 {
	position: absolute;
	left: 60%;
	float: left;
	text-align: center;
	margin-top: ;
	padding: 20px;
}

.about {
	clear: both;
	padding: 20px;
	width: 600px;
	float: left;
	border: 2px solid white;
}

.about_me-header {
	background: yellow;
}

.contact {
	float: left;
	border: 2px solid white;
	text-align: center;
}

.footer {
	clear: both;
	text-align: center;
}